---
import Chatbot from "@/components/Chatbot.astro";
import Navbar from "../components/Navbar.astro"
import App from "../layouts/App.astro"
import { supabase } from "../lib/supabase"
import { format } from "date-fns";
import ContacIcons from "@/components/ContacIcons.astro";



interface Experience {
    initial_date: Date,
    ending_date: Date,
    description: string,
    position: string, 
    company: string
}   

const { data, error} = await supabase
    .from<'experience', Experience>('experience')
    .select()
const experiences = data as Experience[]
---

<App pageTitle="Home">
   <Chatbot/>
   <Navbar/>
   <section id="section_description" class="mx-[2%] sm:mx-[7%] md:mx-[10%] lg:mx-[18%] xl:[18%] mt-24 sm:mt-36 scroll-mt-[-250px]">
        <div id="container" class="mx-auto max-w-[950px] px-2.5 sm:px-4">
            <div id="flex" class="flex flex-col sm:flex-row gap-3 sm:gap-0 sm:justify-evenly ">
                <div id="flex_child1" class="order-2 sm:order-1 sm:max-w-[50%] my-auto">
                    <p class="font-josefin text-lime-300/95 text-[110%]  sm:text-left sm:text-[130%] font-semibold leading-[170%]">
                        I`m Santiago Avella Torres, systems engineer and software developer, I work in the creation of robust, scalable and quality technological solutions.
                    </p>
                    <div class="flex items-center justify-between sm:justify-baseline sm:gap-7 mt-4 sm:mt-4.5">
                        <div id="child_button" class="sm:w-auto">
                            <a href="/downloads/SantiagoAvellaTorresResume.pdf"  download="CV_SantiagoAvella" class="inline-flex items-center justify-center p-[1.8px] sm:p-[2.2px] overflow-hidden text-[80%] sm:text-[110%] font-josefin italic font-bold text-black rounded-[10px] group bg-gradient-to-br from-greenCustom1 to-lime-300  dark:text-white dark:hover:text-gray-900">
                                <span class="relative p-2 sm:px-4.5 sm:py-1.5 transition-all ease-in duration-75 bg-greenCustom1 text-white group-hover:text-black rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
                                    Download CV
                                </span>
                            </a>
                        </div>
                        <ContacIcons/>
                    </div>

                </div>
                <div id="flexchild2" class="order-1">
                     <img src="/imgs/me1.jpeg" style="filter: grayscale(0); transition: all 0.3s;" onmouseover="this.style.filter='grayscale(1)'" onmouseout="this.style.filter='grayscale(0)'" alt="" class="mx-auto max-h-[200px] aspect-1 object-cover object-top-left rounded-br-[8%] rounded-tl-[8%] ">
                </div>
            </div>
        </div>  
   </section>

   <section id="section_experience" class="mx-[2%] sm:mx-[7%] md:mx-[10%] lg:mx-[18%] xl:[18%] mt-16 sm:mt-24 scroll-mt-[-400px]">
        <div id="container" class="max-w-[950px] mx-auto px-2.5 sm:px-4">
            <h2 class=" font-josefin font-semibold italic text-[180%] text-white">Experience</h2>
    
            <ol class="relative border-s leading-0 mt-8 border-lime-300">
               {experiences?.map((experience) => (
                    <li class="mb-10 last-of-type:mb-0 ms-4 p-3.5 bg-gradient-to-br from-greenCustom1 from-70% to-black/60 shadow-2xl shadow-greenCustom2/50 rounded-[8px] hover:hover:bg-gradient-to-br hover:from-white hover:to-lime-300 hover:to-95% group">
                        <div class="absolute w-3 h-3 bg-white rounded-full mt-1.5 -start-1.5 border-greenCustom2 group-hover:bg-lime-500"></div>
                        <time class="mb-1 text-[90%] font-josefin italic font-bold leading-none text-white group-hover:text-greenCustom1 ">{format(new Date(experience.initial_date), "MMM 'de' yyyy")} - {format(new Date(experience.ending_date), "MMM 'de' yyyy")}</time>
                        <h3 class="text-lg font-josefin mt-1.5 font-semibold text-lime-300 group-hover:text-lime-600">{experience.position} - {experience.company}</h3>
                        <p class="mb-4 text-[105%] font-josefin text-gray-300 group-hover:text-gray-950 leading-[170%]">{experience.description}</p>
                     </li>
               ))}
            </ol>
         </div>
   </section>

  
   <section id="section_projects" class="mx-[2%] sm:mx-[7%] md:mx-[10%] lg:mx-[18%] xl:[18%] mt-20">
        <div id="container" class="mx-auto max-w-[950px] px-2.5 sm:px-4">
            <h2 class="font-josefin font-semibold italic text-[180%] text-white">Projects</h2>
            <div id="grid_projects" class="mt-6 grid grid-cols-1 gap-y-20 sm:gap-y-32">
                <div id="card" class="flex flex-col sm:flex-row xl:h-[280px] lg:h-[270px] md:h-[250px] sm:h-[210px] gap-y-2 sm:gap-4 2xl:gap-6">
                    <div id="image_project" class="relative w-[100%] sm:w-[50%] sm:h-full">
                        <img src="/imgs/acciones1.png" class="object-cover h-full rounded-md" alt="">
                        <div class="absolute top-0 h-full">
                            <div id="display_icons" class="sticky top-20 bg-black p-1.5 rounded-br-lg flex h-[40px] gap-1.5">
                                <a href="https://github.com/santiago-avella/Acciones-UD-Visenture" target="_blank" class="hover:scale-110"><img src="/imgs/github.svg" alt="github" class="h-full w-[30px] object-contain"></a>
                                <a href="https://acciones-ud-visenture.vercel.app/home" target="_blank" class="hover:scale-110"><img src="/imgs/rocket.png" alt="deploy" class="h-full w-[30px] object-contain"></a>
                                <h4 class="font-josefin text-lime-300 text-[85%] leading-0 my-auto">Discover more</h4>
                            </div>
                        </div>
                    </div>
                    <div class="relative sm:w-[50%] my-auto sm:h-full">
                        <div class="absolute inset-0 z-0 bg-greenCustom2 blur-[90px]"></div>
                        <div class="flex flex-col justify-between gap-y-2 items-baseline-last h-full text-[90%] sm:text-[75%] md:text-[90%] lg:text-[100%] xl:[110%]">
                            <h4 class="relative w-fit font-josefin font-semibold text-lime-300 p-[3.5%] rounded-md bg-greenCustom1/50">February 2025</h4>
                            <h4 class="relative  font-josefin text-left md:leading-[140%] lg:leading-[160%] text-white p-[3.5%] rounded-md bg-greenCustom1/50"><span class="text-inherit font-bold italic">Acciones UD</span> is a comprehensive software development project for trading stock market assets, featuring two-factor authentication, real-time stock market visualization, capital funding to accounts, and asset trading.</h4>
                            <div id="tool_icons" class="relative flex w-full gap-3.5 sm:gap-2.5 h-[35px] sm:h-[30px] md:h-[35px] lg:h-[40px]"> 
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nestjs/nestjs-original.svg" alt="Nestjs" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Nestjs</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" alt="Angular" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Angular</h3>
                                </a>

                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-plain.svg" alt="Typescript" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Type</h3>
                                </a>

                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" alt="PostgreSQL" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Postgres</h3>
                                </a>

                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" alt="TailwindCSS" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Tailwind</h3>
                                </a>

                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" alt="Git" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Git</h3>
                                </a>

                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jira/jira-original.svg" alt="Jira" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Jira</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="card" class="flex flex-col sm:flex-row xl:h-[280px] lg:h-[270px] md:h-[250px] sm:h-[210px] gap-y-2 sm:gap-4 2xl:gap-6">
                    <div id="image_project" class="sm:order-2 relative w-full sm:w-[50%] sm:h-full">
                        <img src="/imgs/gallery.png" class="object-cover h-full rounded-md" alt="">
                        <div class="absolute top-0 right-0 h-full">
                            <div id="display_icons" class="sticky top-20 bg-black p-1.5 rounded-bl-lg flex h-[40px] gap-1.5">
                                <a href="https://github.com/santiago-avella/area51" target="_blank" class="hover:scale-110"><img src="/imgs/github.svg" alt="github" class="h-full w-[30px] object-contain"></a>
                                <h4 class="font-josefin text-lime-300 text-[85%] leading-0 my-auto">Discover more</h4>
                            </div>
                        </div>
                    </div>
                    <div class="relative w-full sm:w-[50%] my-auto sm:h-full">
                        <div class="absolute inset-0 z-0 bg-greenCustom2 blur-[100px]"></div>
                        <div class="flex flex-col justify-between gap-y-2 items-baseline-last h-full text-[90%] sm:text-[75%] md:text-[90%] lg:text-[100%] xl:[110%]">
                            <h4 class="relative w-fit font-josefin font-semibold text-lime-300 p-[3.5%] rounded-md bg-greenCustom1/50">December 2024</h4>
                            <h4 class="relative font-josefin text-left md:leading-[140%] lg:leading-[160%] text-white p-[3.5%] rounded-md bg-greenCustom1/50"><span class="text-inherit font-bold italic">Area51</span> is a software development project whose goal is to serve as a multimedia content gallery connected to a Woo store to manage, upload, and access content purchased from the online store in real time.</h4>
                            <div id="tool_icons" class="relative flex w-full gap-3.5 sm:gap-2.5 h-[35px] sm:h-[30px] md:h-[35px] lg:h-[40px]"> 
                                <a class="group"><img src="/imgs/django.svg" alt="Django" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Django</h3>
                                </a>
                                <a class="group"><img src="/imgs/django_rest.svg" alt="Rest" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Rest</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" alt="Python" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Python</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg" alt="Javascript" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[50%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Javascript</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/postgresql/postgresql-original.svg" alt="PostgreSQL" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md"> 
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Postgres</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" alt="Git" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Git</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/railway/railway-original.svg" alt="Railway" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Railway</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="card" class="flex flex-col sm:flex-row xl:h-[280px] lg:h-[270px] md:h-[250px] sm:h-[210px] gap-y-2 sm:gap-4 2xl:gap-6">
                    <div id="image_project" class="relative w-[100%] sm:w-[50%] sm:h-full">
                        <img src="/imgs/ideapro.png" class="object-cover h-full rounded-md" alt="">
                        <div class="absolute top-0 h-full">
                            <div id="display_icons" class="sticky top-20 bg-black p-1.5 rounded-br-lg flex h-[40px] gap-1.5">
                                <a href="https://ideapro.com.co/" target="_blank" class="hover:scale-110"><img src="/imgs/rocket.png" alt="deploy" class="h-full w-[30px] object-contain"></a>
                                <h4 class="font-josefin text-lime-300 text-[85%] leading-0 my-auto">Discover more</h4>
                            </div>
                        </div>
                    </div>
                    <div class="relative  w-full sm:w-[50%] my-auto sm:h-full">
                        <div class="absolute inset-0 z-0 bg-greenCustom2 blur-[90px]"></div>
                        <div class="flex flex-col justify-between gap-y-2 items-baseline-last h-full text-[90%] sm:text-[75%] md:text-[90%] lg:text-[100%] xl:[110%]">
                            <h4 class="relative w-fit font-josefin font-semibold text-lime-300 p-[3.5%] rounded-md bg-greenCustom1/50">August 2024</h4>
                            <h4 class="relative font-josefin text-left md:leading-[140%] lg:leading-[160%] text-white p-[3.5%] rounded-md bg-greenCustom1/50"><span class="text-inherit font-bold italic">Ideapro Page</span> is a comprehensive website developed for a public consulting firm. The website features several relevant sections, including a news section, an information section, a projects section, and a contact section.</h4>
                            <div id="tool_icons" class="relative flex w-full gap-3.5 sm:gap-2.5 h-[35px] sm:h-[30px] md:h-[35px] lg:h-[40px]"> 
                                <a class="group"><img src="https://icon.icepanel.io/Technology/png-shadow-512/Astro.png" alt="Astro" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Astro</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" alt="TailwindCSS" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Tailwind</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg" alt="Javascript" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[50%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Javascript</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" alt="Figma" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Figma</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" alt="Git" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Git</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jira/jira-original.svg" alt="Jira" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Jira</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cloudflare/cloudflare-original.svg" alt="Cloudflare" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">CloudF</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/netlify/netlify-original.svg" alt="Netlify" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Netlify</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="card" class="flex flex-col sm:flex-row xl:h-[280px] lg:h-[270px] md:h-[250px] sm:h-[210px] gap-y-2 sm:gap-4 2xl:gap-6">
                    <div id="image_project" class="sm:order-2 relative w-full sm:w-[50%] sm:h-full">
                        <img src="/imgs/IEGCE.png" class="object-cover h-full rounded-md" alt="">
                        <div class="absolute top-0 right-0 h-full">
                            <div id="display_icons" class="sticky top-50 bg-black p-1.5 rounded-bl-lg flex h-[40px] gap-1.5">
                                <a href="https://iegcampestreemmanuel.webflow.io/" target="_blank" class="hover:scale-110"><img src="/imgs/rocket.png" alt="deploy" class="h-full w-[30px] object-contain"></a>
                                <h4 class="font-josefin text-lime-300 text-[85%] leading-0 my-auto">Discover more</h4>
                            </div>
                        </div>
                    </div>
                    <div class="relative w-full sm:w-[50%] my-auto sm:h-full">
                        <div class="absolute inset-0 z-0 bg-greenCustom2 blur-[90px]"></div>
                        <div class="flex flex-col justify-between gap-y-2 items-baseline-last h-full text-[90%] sm:text-[75%] md:text-[90%] lg:text-[100%] xl:[110%]">
                            <h4 class="relative w-fit font-josefin font-semibold text-lime-300 p-[3.5%] rounded-md bg-greenCustom1/50">January 2024</h4>
                            <h4 class="relative font-josefin text-left md:leading-[140%] lg:leading-[160%] text-white p-[3.5%] rounded-md bg-greenCustom1/50"><span class="text-inherit font-bold italic">CGCE Page</span> is a website created for a school that stands out for its modern, structured, and clear design. It includes sections on news, events, curriculum, academic history, and comprehensive information about the institution.</h4>
                            <div id="tool_icons" class="relative flex w-full gap-3.5 sm:gap-2.5 h-[35px] sm:h-[30px] md:h-[35px] lg:h-[40px]"> 
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/webflow/webflow-original.svg" alt="Webflow" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Webflow</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/figma/figma-original.svg" alt="Figma" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Figma</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/netlify/netlify-original.svg" alt="Netlify" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">Netlify</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg" alt="html" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">HTML</h3>
                                </a>
                                <a class="group"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg" alt="CSS" class="h-full p-1.5 sm:p-1 md:p-1.5 lg:p-2 w-[35px] sm:w-[30px] md:w-[35px] lg:w-[40px] bg-greenCustom1/50 rounded-md">
                                    <h3 class="hidden lg:block font-josefin text-[60%] text-center opacity-0 group-hover:opacity-100 text-white transition-all duration-700">CSS</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>


   <section id="footer" class="mx-[2%] sm:mx-[7%] md:mx-[10%] lg:mx-[18%] xl:[18%] mt-12 sm:mt-24 mb-10  sm:mb-8">
    <div id="container" class="max-w-[950px] mx-auto px-2.5 sm:px-4">
        <div id="flex" class="flex flex-row justify-between items-center">
            <div id="child1" class="font-josefin text-white text-[80%] sm:text-[100%]">
                <h3 class="italic font-light">Almost all rights reserved © 2025</h3>
                <h4 class="italic font-semibold">Santiago Avella - Software Developer</h4>
            </div>
            <ContacIcons/>
        </div>
    </div>  
   </section>
</App>
<script src="/src/js/navbar.js"></script>

