<div id="flex-icons" class="flex flex-row place-content-end max-h-[32px] gap-3">
    <a href="https://github.com/santiago-avella" target="_blank"><img class="max-h-full w-auto object-contain transition-all ease-in duration-75 hover:scale-110" src="/imgs/github.png" alt="github"></a>
    <a href="https://www.linkedin.com/in/santiago-avella-torres-508930181/" target="_blank"><img class="max-h-full w-auto object-contain transition-all ease-in duration-75 hover:scale-110" src="/imgs/linkedin.png" alt="linkedin"></a>
    <a href="https://wa.link/746nit" target="_blank"><img class="max-h-full w-auto object-contain transition-all ease-in duration-75 hover:scale-110 shadow-[-17px_19px_31px_1px_rgba(0,_21,_20,_0.1)]" src="/imgs/whatsapp.png" alt="whatsapp"></a>
</div> 