<section id="navabar" class="fixed left-0 top-3 right-0 mx-[2%] sm:mx-[7%] md:mx-[10%] lg:mx-[18%] xl:[18%] z-[1000] ">
     <div id="container" class="mx-auto max-w-[950px]">
        <nav id="navbar" class="mx-auto px-2.5 py-1 sm:py-2 sm:px-4 bg-white/15 rounded-[10px] shadow-2xl shadow-greenCustom2/100 transition-all duration-800">
            <div id="flex_navbar" class="flex py-0 flex-row place-content-between items-center ">
                <h1 class="animate-pulse hidden sm:inline-block tracking-wide animate-infinite animate-ease-linear r font-josefin font-bold text-[160%] sm:text-[150%] md:text-[170%]  italic text-white leading-none ">
                    Santiago Avella
                </h1>
                <h1 class="animate-pulse mt-[3px] sm:hidden leading-0 tracking-wide animate-infinite animate-ease-linear r font-josefin font-bold text-[170%] italic text-white">
                    SA
                </h1>
                <div id="flex_links" class="flex flex-row gap-3.5 justify-end sm:w-[60%] sm:gap-[7%] items-center text-white text-[100%] sm:text-[90%] md:text-[110%] ">
                    <a href="#section_description" class="font-normal font-josefin hover:bg-gradient-to-r from-white to-lime-300 to-70% hover:bg-clip-text hover:text-transparent transition-transform duration-500 ">Experience</a>
                    <a href="#section_experience" class="font-normal font-josefin hover:bg-gradient-to-r from-white to-lime-300 to-70% hover:bg-clip-text hover:text-transparent transition-transform duration-800">Projects</a>
                    <a href="mailto:santyavella21@gmail.com"  class="relative inline-flex items-center justify-center p-[2.2px] overflow-hidden  font-josefin font-bold text-black  rounded-[10px] group bg-gradient-to-br from-greenCustom1 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 ">
                        <span class="relative px-2 py-1 sm:px-4.5 sm:py-1.5 transition-all ease-in duration-75 bg-[#001514]/80 text-white group-hover:text-black rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent">
                            Contact Me
                        </span>
                    </a>
                </div>
            </div>
        </nav> 
     </div>
</section>